.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #FFFFFF;
    
    &-logo{
        margin: 9px 0 0 16px;
        width: 1.1cm;
    }
    
    &-user{
        margin-right: 16px;
        color: $cinza-padrao;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    
    &-menu{
        display: flex;
        align-items: center;
        color: $cinza-padrao;
        
        &-items{
            height: 100%;
            align-items: center;
            display: flex;
            margin-left: 40px;
            cursor: pointer;
            
            .material-icons{
                font-size: 16px;
                margin-right: 6px;
            }
            
            &:hover{
                color: $laranja-multe;
                border-bottom: 3px solid $laranja-multe;
                transition: 0.2s;
            }
        }
    }
}