/*======== RESET ========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

img {
  max-width: 100%; }

.header {
  background-color: #FFFFFF;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header-logo {
    margin: 9px 0 0 16px;
    width: 1.1cm; }
  .header-hamburger, .header-close {
    margin-right: 16px;
    color: #71839B;
    cursor: pointer;
    font-size: 32px; }
  .header-menu {
    display: none;
    flex-direction: column;
    color: #71839B;
    position: absolute;
    right: 0;
    top: 1.3cm;
    background: #ffff; }
    .header-menu-items {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      padding: 5px 0;
      cursor: pointer; }
      .header-menu-items-sub {
        display: none;
        color: black;
        width: 100%;
        background-color: #FFB33F; }
        .header-menu-items-sub li {
          padding: 5px 10px; }
      .header-menu-items .material-icons {
        font-size: 16px;
        margin-right: 6px; }

.principal-content {
  background-color: #F4F7FC;
  width: 100%;
  min-height: 92vh; }

.saudacao {
  display: flex;
  flex-direction: column;
  padding: 40px 20px; }
  .saudacao-hello-user {
    font-size: 20px;
    font-weight: 700;
    color: #71839B; }
  .saudacao-welcome-user {
    color: #71839B; }
