/*======== RESET ========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

img {
  max-width: 100%; }

.header {
  background-color: #FFFFFF;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header-logo {
    margin: 9px 0 0 16px;
    width: 1.1cm; }
  .header-user {
    cursor: pointer;
    color: #71839B;
    align-items: center; }
    @media only screen and (min-width: 1248px) {
      .header-user {
        margin-right: 16px; } }
    .header-user-subitems {
      display: none;
      flex-direction: column;
      align-items: center;
      position: absolute;
      background: #ffff;
      width: 40%;
      box-shadow: black -1px -1px 20px -1px; }
      @media only screen and (min-width: 1248px) {
        .header-user-subitems {
          flex-direction: column;
          width: 10%; } }
      .header-user-subitems-link {
        width: 100%;
        text-align: center; }
        .header-user-subitems-link:hover {
          background: #F2F2F2; }
      .header-user-subitems a {
        padding: 5px 0; }
  .header-hamburger, .header-close {
    margin-right: 16px;
    color: #71839B;
    cursor: pointer;
    font-size: 32px; }
    @media only screen and (min-width: 1248px) {
      .header-hamburger, .header-close {
        display: none; } }
  .header-menu {
    display: none;
    flex-direction: column;
    color: #71839B;
    position: absolute;
    right: 0;
    top: 1.3cm;
    background: #ffff; }
    @media only screen and (min-width: 1248px) {
      .header-menu {
        display: flex;
        flex-direction: row;
        position: inherit; } }
    .header-menu-items {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      margin: 0 10px;
      padding: 13px 5px;
      cursor: pointer; }
      @media only screen and (min-width: 1248px) {
        .header-menu-items {
          border-bottom: 3px solid transparent; }
          .header-menu-items:hover {
            border-color: #FFB33F;
            transition: 0.2s; } }
      .header-menu-items-sub {
        display: none;
        color: #ffff;
        width: 100%;
        background-color: #FFB33F; }
        @media only screen and (min-width: 1248px) {
          .header-menu-items-sub {
            color: #71839B;
            position: absolute;
            width: 10%;
            top: 1cm;
            box-shadow: black -1px -1px 20px -1px;
            background: #ffff; } }
        .header-menu-items-sub li {
          margin: 10px 0px;
          text-align: center; }
          @media only screen and (min-width: 1248px) {
            .header-menu-items-sub li {
              padding: 10px 0;
              margin: 0;
              text-align: center; }
              .header-menu-items-sub li:hover {
                background-color: #F2F2F2; } }
      .header-menu-items .material-icons {
        font-size: 16px;
        margin-right: 6px; }

.principal-content {
  background-color: #F4F7FC;
  width: 100%;
  min-height: 92vh; }

.saudacao {
  display: flex;
  flex-direction: column;
  padding: 40px 20px; }
  .saudacao-hello-user {
    font-size: 20px;
    font-weight: 700;
    color: #71839B; }
  .saudacao-welcome-user {
    color: #71839B; }
